.banner-Industries {
    width: 100%;

    background: transparent linear-gradient(180deg, #FFFFFF 0%, #DFE7EE 100%) 0% 0%;
    opacity: 1;

    .industries__image-captions {
        padding-top: 190px;
        padding-bottom: 126px;

        .industries__heading-discriptions {
            h3 {
                text-align: left;
                font-weight: $bold;
                font-family: $font-1;
                color: $primary;
                opacity: 1;
                font-size: 30px;

            }

            p {
                font-size: 20px;
                font-family: $font-1;
                color: $primary;
                opacity: 1;
                font-weight: $regular;
                padding-top: 12px;
                width: 415px;
                height: 54px;

            }

        }

        .industries__svgs-discription {
            padding-top: 34px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .automotive__svg {
                display: grid;

                .automotive__svg--height {
                    height: 180px;
                }

                .automotive_svg_caption {

                    font-family: $font-1;
                    color: $primary;
                    opacity: 1;
                    font-weight: $semi-bold;
                    font-size: 18px;
                    text-align: center;


                    p {
                        font-weight: $bold;

                    }
                }
            }
        }
    }

}



// media query//



// @media(max-width: $media-lg) {
//     .banner-Industries {
//         .container-alpha {
//             .industries__svgs-discription {

//                 display: grid;
//                 grid-template-columns: repeat(3, 1fr);
//                 row-gap: 25px;

//                 .automotive__svg {
//                     display: grid;
//                     justify-content: center;
//                     align-items: center;

//                     .automotive__svg--height {
//                         align-items: center;
//                         text-align: center;
//                     }


//                 }
//             }
//         }

//     }
// }

// @media(max-width:$media-md) {
//     .banner-Industries {
//         .container-alpha {


//             .industries__image-captions {
//                 padding-top: 212px;
//                 padding-bottom: 126px;

//                 .industries__heading-discriptions {


//                     p {
//                         font-size: 20px;
//                         font-family: $font-1;
//                         color: $primary;
//                         opacity: 1;
//                         font-weight: $regular;
//                         padding-top: 12px;
//                         width: 415px;
//                         height: 54px;


//                     }

//                 }

//                 .industries__svgs-discription {

//                     display: grid;
//                     grid-template-columns: repeat(3, 1fr);

//                     .automotive__svg--height {
//                         display: flex;
//                         align-items: center;
//                         text-align: center;
//                     }



//                     .automotive_svg_caption {
//                         display: flex;
//                         align-items: center;
//                     }



//                 }
//             }
//         }
//     }
// }

@media(max-width:$media-xs),
(max-width:$media-sm) {
    .banner-Industries {
        .container-alpha {


            .industries__image-captions {
                padding-top: 73px;
                padding-bottom: 67px;

                .industries__heading-discriptions {
                    h3 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 13px;
                        width: 234px;
                        height: 54px;
                    }
                }

                .industries__svgs-discription {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    padding-top: 20px;
                    row-gap: 20px;
                    column-gap: 20px;

                    .automotive__svg {
                        .automotive__svg--height {
                            height: 145px;

                            img {

                                height: auto;
                                align-items: center;
                                text-align: center;
                            }

                        }

                        .automotive_svg_caption {
                            p {
                                font-size: 11px;

                            }
                        }
                    }
                }

            }
        }

    }

}