//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1500px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 544px; //34em


//fonts
$font-1: Inter,
sans-serif;
// $font-2: ;

//colors
$primary: #0A2C4A;
$border: #C1CAD1;
$cta: #299BFF;

//weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;