.maintainance_section {
    background: transparent linear-gradient(180deg, #CFDBE6 0%, #FFFFFF 0%, #CFDBE6 100%) 0% 0% no-repeat padding-box;
    height: auto;

    .container-alpha {
        .maintainance_section_wrapper {
            padding-bottom: 100px;
            padding-top: 200px;

            .maintainance_heading-block {
                h2 {
                    font-size: 30px;
                    line-height: 40px;
                    color: $primary;
                }

            }

            .maintainance_content-block {
                display: grid;
                grid-template-columns: repeat(4, .1fr);
                gap: 30px;

                @media (max-width: $media-md) {
                    grid-template-columns: repeat(3, .1fr);
                }

                @media (max-width:$media-sm) {
                    grid-template-columns: repeat(2, .1fr);
                }

                .maintainance_content-block_content-1 {
                   padding: 18px 50px 18px 50px;
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    

                    h4 {
                        min-width: 142px;
                        min-height: 79px;
                        font-size: 18px;
                        line-height: 26px;
                        color: $primary;
                        font-weight: $regular;
                    }

                }

                .maintainance_content-block_content-2 {
                    padding: 18px 50px 18px 50px;
                    background-color: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;

                    h4 {
                        min-width: 142px;
                        min-height: 79px;
                        font-size: 18px;
                        line-height: 26px;
                        color: #fff;
                        font-weight: $regular;
                    }

                }

            }
        }
    }
}

