.logo-block {
    background: transparent linear-gradient(180deg, #ADB7BF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;

    .logo-block__logo-discription {
        padding-top: 195px;
        padding-bottom: 150px;
        display: flex;
        align-items: center;
        gap: 95px;

        @media(max-width:$media-lg) {
            padding-top: 60px;
            padding-bottom: 120px;
            gap: 45px;
        }

        @media(max-width:$media-sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        .logo-discription {
            &.left-logo {
                .logo--background {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 386px;
                    height: 386px;
                    background-color: white;
                    border-radius: 50%;

                    @media(max-width:$media-xlg) {
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                    }

                    @media(max-width:$media-lg) {
                        width: 320px;
                        height: 320px;
                    }

                    @media(max-width:$media-sm) {
                        width: 200px;
                        height: 200px;

                    }

                    img {
                        border-radius: 50%;

                        @media(max-width:$media-sm) {
                            width: 160px;
                        }
                    }

                }
            }

            &.right-logo {
                width: 758px;

                p {
                    color: $primary;
                    font-family: $font-1;
                    font-weight: $medium;
                    font-size: 35px;
                    line-height: 45px;
                    padding-bottom: 43px;


                    @media(max-width:$media-lg) {
                        font-size: 25px;
                        line-height: 35px;
                        padding-bottom: 25px;
                    }


                }



                a {

                    color: $primary;
                    font-weight: $medium;
                    font-size: 26px;
                    line-height: 36px;
                    white-space: nowrap;


                }

                @media(max-width:$media-sm) {
                    width: 100%;
                }
            }
        }
    }
}