.home-banner {
    width: 100%;
    height: auto;
    background-color: $primary;
    background-image: url('/static/img/graphics.png');
    background-size: 1420px;
    background-repeat: no-repeat;
    background-position: 272% 30%;
    // background-attachment: fixed;


    @media(max-width: $media-xlg) {
        background-position: 184% 30%;
        background-size: 850px;
    }

    @media(max-width:$media-lg) {
        background-image: none;
        height: 110vh;
    }

    .container-alpha {
        height: inherit;

        .home-banner__header {
            position: relative;
            height: inherit;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: flex-start;

            .banner-heading {
                max-width: 900px;

                h1 {
                    color: white;
                    font-family: $font-1;
                    font-weight: $regular;
                    font-size: 75px;
                    line-height: 85px;
                    letter-spacing: 0;
                    text-align: left;
                    margin-bottom: 0;
                    padding-top: 120px;

                    @media(max-width:$media-xlg) {
                        padding-top: 80px;
                    }

                    @media(max-width: $media-lg) {
                        font-size: 60px;
                        line-height: 70px;
                    }
                }
            }

            .rating-and-captions {
                width: 1024px;
                border-top: 1px solid white;

                @media(max-width: $media-xlg) {
                    width: 924px;
                }

                @media(max-width:$media-lg) {
                    width: 660px;
                }

                @media(max-width:$media-sm) {
                    width: 450px;
                }

                .rating--grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 100px;
                    margin-top: 38px;

                    @media(max-width:$media-xlg) {
                        gap: 90px;
                    }

                    @media(max-width: $media-lg) {
                        gap: 50px;
                    }

                    @media(max-width:$media-sm) {
                        gap: 30px
                    }



                    .rating__number-caption {


                        h4 {
                            color: white;
                            font-size: 50px;
                            line-height: 60px;
                            font-weight: $medium;
                            font-family: $font-1;

                            @media(max-width: $media-xlg) {
                                font-size: 40px;
                                line-height: 50px;
                            }
                        }

                        p {
                            color: white;
                            font-family: $font-1;
                            font-size: 20px;
                            line-height: 30px;

                            @media(max-width:$media-xlg) {
                                font-size: 18px;
                                line-height: 28px;
                            }

                            @media(max-width: $media-sm) {
                                white-space: normal;
                            }
                        }
                    }
                }
            }


        }

    }
}

@media(max-width:$media-xs),
(max-width:$media-sm) {
    .home-banner {
        .container-alpha {
            .home-banner__header {
                .slider__radio-button {

                    display: flex;

                    #text-radio {
                        padding: 10px;
                    }

                    .rating-and-captions {
                        width: 75%;
                        overflow: hidden;


                        .rating--grid {
                            display: flex;
                            position: relative;
                            animation: slider linear 10s infinite;

                            justify-content: flex-end;

                            .rating__number-caption {
                                width: 75%;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }

    }
}

@keyframes slider {
    0% {
        right: -200px;
    }

    50% {
        right: 0%;
    }

    100% {
        right: 200%;
    }


}