.home-banner {
    width: 100%;
    height: auto;
    background-color: $primary;
    background-image: url('/static/img/graphics.png');
    background-size: 1420px;
    background-repeat: no-repeat;
    background-position: 272% 30%;
    // background-attachment: fixed;


    @media(max-width: $media-xlg) {
        background-position: 184% 30%;
        background-size: 850px;
    }

    @media(max-width:$media-lg) {
        background-image: none;
        height: 110vh;
    }

    .container-alpha {
        height: inherit;

        .home-banner__header {
            position: relative;
            height: inherit;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: flex-start;

            .banner-heading {
                max-width: 900px;

                h1 {
                    color: white;
                    font-family: $font-1;
                    font-weight: $regular;
                    font-size: 75px;
                    line-height: 85px;
                    letter-spacing: 0;
                    text-align: left;
                    margin-bottom: 0;
                    padding-top: 120px;

                    @media(max-width:$media-xlg) {
                        padding-top: 80px;
                    }

                    @media(max-width: $media-lg) {
                        font-size: 60px;
                        line-height: 70px;
                    }
                }
            }

            .rating-and-captions {
                width: 1024px;
                border-top: 1px solid white;

                @media(max-width: $media-xlg) {
                    width: 924px;
                }

                @media(max-width:$media-lg) {
                    width: 660px;
                }

                @media(max-width:$media-sm) {
                    width: 450px;
                }

                input {
                    display: none;
                }

                .rating--grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 100px;
                    margin-top: 38px;



                    @media(max-width:$media-xlg) {
                        gap: 90px;
                    }

                    @media(max-width: $media-lg) {
                        gap: 50px;
                    }

                    @media(max-width:$media-sm) {
                        gap: 30px
                    }

                    input {
                        display: none;
                    }

                    .rating__number-caption {


                        h4 {
                            color: white;
                            font-size: 50px;
                            line-height: 60px;
                            font-weight: $medium;
                            font-family: $font-1;

                            @media(max-width: $media-xlg) {
                                font-size: 40px;
                                line-height: 50px;
                            }
                        }

                        p {
                            color: white;
                            font-family: $font-1;
                            font-size: 20px;
                            line-height: 30px;

                            @media(max-width:$media-xlg) {
                                font-size: 18px;
                                line-height: 28px;
                            }


                        }
                    }

                    .nav-auto {
                        display: none;
                    }
                }
            }


        }

    }
}

@media(max-width:$media-xs),
(max-width:$media-sm) {
    .home-banner {
        .container-alpha {

            // .home-banner__header {
            .banner-heading {
                h1 {
                    font-size: 35px;
                    line-height: 45px;
                    // width: 251px;
                    // height: 264px;
                }
            }



            .slider {
                overflow: hidden;
                width: 250px;


                .slide {
                    display: flex;
                    width: 165%;
                    height: 90px;

                    input {
                        display: none;
                    }



                    .st {
                        width: 20%;
                        transition: 2s;


                        h4 {
                            font-size: 25px;
                            width: 247px;
                        }

                        p {
                            font-size: 12px;
                            width: 247px;

                        }

                    }

                    .nav-auto {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        width: 500px;
                        margin: top 360px;

                        div {
                            border: 2px solid white;
                            padding: 3px;
                            border-radius: 10px;
                            transition: 2s;
                            margin: 3px;

                            &:not(:last-child) {
                                margin-right: 30px;
                                justify-content: center;
                            }
                        }
                    }

                }

                .nav-m {
                    display: flex;
                    width: 246px;
                    margin-top: -10px;
                    justify-content: center;
                    position: absolute;

                    .m-btn {
                        border: 1px solid white;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 1s;

                        &:not(:last-child) {
                            margin-right: 30px;
                        }

                        &:hover {
                            background-color: white;
                        }
                    }
                }


            }
        }
    }
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio1:checked~.nav-auto .a-b1 {
    background-color: white;
}

#radio2:checked~.nav-auto .a-b2 {
    background-color: white;
}

#radio3:checked~.nav-auto .a-b3 {
    background-color: white;
}

#radio4:checked~.nav-auto .a-b4 {
    background-color: white;
}